/* css resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;

  background: #d6e2f0;

  -webkit-font-smoothing: antialiased;
  font-family: "Outfit", sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.container {
  width: min(400px, 90%);
  min-width: 350px;
  padding: 20px;
  border-radius: 20px;
  background: #ffffff;
}

.text-container {
  margin: auto;
  max-width: 300px;
}

.qr-img {
  border-radius: 10px;
}

h1,
p {
  text-align: center;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #1f3251;
  font-size: 24px;
}

p {
  margin-bottom: 35px;
  color: #7b879d;
  font-size: 18px;
}

span {
  display: block;
}
